a {
  color:black;
  text-decoration: none;
}

#Border_Title {
  border-bottom:double 5px pink;
  padding-bottom:20px;

}
#grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#grid #Index{
  border-right: solid  5px pink;
  width:220px;
  margin:0;
  padding:20px;
}
#grid #contents {
  padding-left : 20px;
}
@media (max-width:700px) {
  #grid {
    display : block;
  }
  #grid #Index {
    border-right :none;
    border-bottom : solid 5px pink;
  }
}
